<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to HappyTribe, <%= @organization.name %></h1>
    <p>
      You have successfully signed up to HappyTribe,
    </p>
    <p>
      To login to the site, just follow this link: <%= link_to("HappyTribe", "https://infinite-atoll-6714.herokuapp.com/") %>.
    </p>
    <p>Thank you for joining HappyTribe</p>
  </body>
</html>