<div class="all-receipts">
  <% @receipts.reverse.each do |receipt| %>
    <% message = receipt.message %>
    <div class="one-message">
      <p>Sender: <%= message.sender.name %></p>
      <p>Date: <%= message.created_at.strftime("%A, %b %d, %Y at %I:%M%p") %></p>
      <p>Subject: <%= message.subject %></p><br>
      <p><%= message.body %></p>
    </div>
  <% end %>
</div>
