<% @receipts.each do |receipt| %>
  <% message = receipt.message %>
  <div>
    <p><%= message.sender.name %></p>
    <p>Subject: <%= message.subject %></p><br>
    <p>Date: <%= message.created_at.strftime("%A, %b %d, %Y at %I:%M%p") %></p><br>
    <%= message.body %>
  </div>
<% end %>
