<div class="arrangement-form">
	<%= form_for [timeslot, arrangement] do |f| %>
  	<%=
  	f.submit value:
  	"#{timeslot.starts_at} -#{timeslot.ends_at}",
  	 data: { confirm: "There are #{timeslot.remaining_spots} spots remaining. Confirm your arrangement to volunteer at #{timeslot.starts_at}?" },
  	 class: "cta-button"
  	 %>
	<% end %>
</div>