<div class="arrangement-form">
	<%= form_for [timeslot, arrangement] do |f| %>
  	<%=
  	f.submit value:
  	"#{timeslot.starts_at} -#{timeslot.ends_at}",
  	 data: { confirm:
  	 	if logged_in?
  	 		"There are #{timeslot.remaining_spots} spots remaining. Confirm your arrangement to volunteer at #{timeslot.starts_at}?"
  	 	else
  	 		"Must be logged in to volunteer. Click ok to redirect to login page."
  	 	end
  	  },
  	 class: "button radius"
  	 %>
	<% end %>
</div>