<h1>Your Managed Organizations</h1>

<p>Below is a list of the organizations you have permission to create events for.</p>

<ul>
	<% @organizations.each do |organization| %>
		<li><%= link_to "#{organization.name}", organization_path(organization) %>
		| Number of Events Upcoming: <%= organization.events.count %>
		| <%= link_to "Create a new event", "/organizations/#{organization.id}/events/new" %></li>
	<% end %>
</ul>


