<h1 class="all-volunteering">Volunteering Events</h1>

<% if logged_in? %>
	<div class="filter-box">
			<%= render 'filter_form' %>
	</div>
<% end %>

<div class="events-list">
	<%= render @events %>
</div>