<div class="mailbox-head medium-12 columns">
  <h1>Your Message Inbox</h1>
</div>
<div class="medium-12 columns right">
  <%= link_to "Compose", new_conversation_path, class: "button" %>
</div>

<div class="large-2 small-4 columns">
  <%= render 'mailboxes/folders' %>
</div>

<div class="large-10 small-8 columns panel">
  <% if is_conversation %>
    <%= render 'conversations/form' %>
  <% elsif messages.any? %>
    <%= render partial: 'conversations/conversation', collection: messages %>
  <% else %>
    <p>No messages to display</p>
  <% end %>
</div>
