<div class="mailbox-head large-12 columns">
  <h1>Your Messages</h1>
</div>
<div class="large-12 columns">
  <ul class="right">
    <%= link_to "New message", new_conversation_path, class: "button" %>
  </ul>
</div>

<div class="large-2 small-3 columns">
  <%= render 'mailboxes/folders' %>
</div>

<div class="large-10 small-9 columns">
  <% if is_conversation %>
    <%= render 'conversations/form' %>
  <% elsif messages.any? %>
    <%= render partial: 'conversations/conversation', collection: messages %>
  <% else %>
    <div class="convo-box">
      <p>No messages to display</p>
    </div>
  <% end %>
</div>
