<p>Name: <%= link_to opportunity.name, opportunity_path(opportunity) %></p>
<p>Organization: <%= link_to opportunity.organization.name, organization_path(opportunity.organization) %></p>
<p>Location: <%= opportunity.location %></p>