.bookmark input.button.radius {
	background-color: $navbarcolor;
}

.bookmark input.button.radius:hover {
	background-color: $navbarhovercolor;
}

input.button.radius {
	background-color: $volunteerbutton-and-cardheader;
}

input.button.radius:hover {
	background-color: $navbarhovercolor;
}

.welcome-buttons {
  text-align: center;
  margin: 1%;
}

.welcome-update {
  margin-top: 2%;
}

input.button.radius.button-stars {
	background-color: #EEEEEE;
	color: $navbarhovercolor;
	font-size: 22px;
	text-align: right;
}

