.bookmark input.button.round {
	background-color: $navbarcolor;
}

.bookmark input.button.round:hover {
	background-color: $navbarhovercolor;
}

input.button.round {
	background-color: $volunteerbutton-and-cardheader;
}

input.button.round:hover {
	background-color: $navbarhovercolor;
}

