.bookmark input.button.round {
	background-color: $navbarcolor;
}

.bookmark input.button.round:hover {
	background-color: $navbarhovercolor;
}

input.button.round {
	background-color: $volunteerbutton-and-cardheader;
}

input.button.round:hover {
	background-color: $navbarhovercolor;
}

.welcome-buttons {
  text-align: center;
  margin: 1%;
}

.welcome-update {
  margin-top: 2%;
}

div.welcome-update > input.button {
  padding: 2%;
}

