
// This styles the top of the cards //

html {
  line-height: normal;
}

body {
  letter-spacing: .5px;
}

.pricing-table .title {
  background-color: #EEEEEE;
  padding: 5%;
}


// This styles the font for the event title //
li.title a {
  color: $monsoon;
  font-size: 1rem;
  font-weight: $font-weight-bold;
}
li.title a:hover {
  color: $jet;
  font-size: 1rem;
  font-weight: $font-weight-bold;
  text-decoration: underline;
}

.active-tb {
  position: relative;
  box-shadow: 0px 2px 10px 0px rgba(50, 50, 50, 0.5);
  transform: scale(1);
  border:0;
  transition: 0.4s ease;
  z-index:13;
}

.all-volunteering {
  font-size: 1.5rem;
  font-weight: 300;
  margin: 3%;
  text-align: center;
}

li.image {
	text-align: center;
  background-color: white;
}

.org-info {
  border: 2px $charcoal solid;
}

#location {
  color: #00a1ee;
}

#location:hover {
  color: #0070a6;
  text-decoration: underline;
}

#event_role > a {
  font-size: 1.5rem;
  font-weight: 600;
  color: $charcoal;
  line-height: 2.5rem;
}
#org_name {
  font-size: 0.5rem;
  color: $charcoal;
}

#event_name {
  color: $charcoal;
}






