
// This styles the top of the cards //

.pricing-table .title {
  background-color: #EEEEEE;
  padding: 5%;
}

// This styles the font for the event title //
li.title a {
  color: $monsoon;
  font-size: 1rem;
  font-weight: $font-weight-bold;
}
li.title a:hover {
  color: $jet;
  font-size: 1rem;
  font-weight: $font-weight-bold;
  text-decoration: underline;
}

//if there needs to be shadow on the boxes, this is it
.active-tb {
  // position: relative;
  // box-shadow: 0px 2px 10px 0px rgba(50, 50, 50, 0.5);
}

// The text saying upcoming volunteer events
.all-volunteering {
  font-size: 1.5rem;
  font-weight: 300;
  margin: 0% 1.5% 3% 1.5%;
  text-align: left;
}

.orbit_image img {
  height: 50%;
  width: 100%;
}


li.image {
	text-align: center;
  background-color: white;
}

#location {
  color: #00a1ee;
}

#location:hover {
  color: #0070a6;
  text-decoration: underline;
}

#event_role > a {
  font-size: 1.25rem;
  color: $charcoal;
}

#org_name {
  font-size: 0.5rem;
  color: $charcoal;
}

#event_name > a {
  font-size: 1.5rem;
  font-weight: 600;
  color: $charcoal;
  line-height: 2.5rem;
}

.body-margin {
  padding: 3% 3% 3% 3%;
}

.large-4.medium-6.small-12.columns {
  padding:  0.25%;
}


.filter-button {
  text-align: center;
  padding-bottom: 2%;
}

// this is the progress bar color
.progress.alert .meter {
  background: $navbarcolor;
}

.progress {
  background-color: #EEEEEE;
}

@media screen and (min-device-width: 1200px) {
  .large-4.medium-6.small-12.columns {
    padding:  1.25%;
  }

  .body-margin {
    padding: 1.5% 3% 3% 3%;
  }

  .all-volunteering {
    font-size: 1.5rem;
    font-weight: 300;
    margin: 0% 1.5% 1.5% 1.5%;
    text-align: left;
  }

  .filter-button {
    text-align: center;
    padding-bottom: 1%;
  }
}

//margin for row column
.row {
  max-width: none;
}

#need {
  color: $charcoal;
}

#org_name {
  font-size: 1.25rem;
}

#index_filter_button {
  float: right;
}

//margin between picture and role
.event_role_margin {
  padding-top: 3%;
}

.panel.callout h3 {
  line-height: 2rem;
}

p.hashtags {
  font-size: 12px;
}

p.address {
  padding-top: 2%;
  font-size: 15px;
}