// Place all the styles related to the opportunities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  margin: 2rem; //for demo only
}

.active-tb {
  position: relative;
  box-shadow: 0px 2px 10px 0px rgba(50, 50, 50, 0.5);
  transform: scale(1);
  border:0;
  transition: 0.4s ease;
  z-index:13;
  &:hover {
    position: relative;
    box-shadow: 0px 2px 10px 0px rgba(50, 50, 50, 0.5);
    transform: scale(1.25);
    border:0;
    z-index:15;
  }
}

.cta-button {
  background-color: black;
}

