// This is the current convention for styling placeholder text on forms.
// Each browser has different requirements.

$placeholder-color:  #cdcdeb;

::-webkit-input-placeholder {
   color: $placeholder-color;
}

:-moz-placeholder { /* Firefox 18- */
   color: $placeholder-color;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: $placeholder-color;
}

:-ms-input-placeholder {
   color: $placeholder-color;
}

// Below is the styling for the select2 boxes

span.select2.select2-container.select2-container--default {
    width: 100% !important;
}

input.select2-search__field {
	width: 90% !important;
	background-color:  #e5ffff !important;
}

li.select2-selection__choice {
	background-color: $volunteerbutton-and-cardheader !important;
	color: white !important;
}

span.select2-selection__choice__remove {
	color: #ffcc99 !important;
}
span.select2-selection__choice__remove:hover {
	color: black !important;
}

@media screen and (min-width: 1000px) {
	span.select2.select2-container.select2-container--default {
	    width: 40% !important;
	}
}

// filter form styling

// @media screen and (min-width: 1000px) {
// 		.filter-form {
// 		width: 30%;
// 	}
// }