input#q_name_or_location_or_organization_name_or_description_or_role_or_interests_name_or_skills_name_cont {
  width: 155px;
  display:inline;

}

.notification-unread {
  background-color: white;
  color: tomato;
  font-size: 12px;
  font-weight: bold;
  width: 1.15rem;
  height: 1.15rem;
  line-height: 1.20rem;
  display: inline-block;
  border-radius: 50%;
  text-align: center;
}

.content-margin {
  padding: 3%;
}

html {
  line-height: normal;
}

body {
  letter-spacing: .5px;
}


li.event-image {
  opacity: 0.7;
}

#search-submit{
  display:inline;
  background-color: #169859;
  border-radius:4px;
}

@media screen and (min-device-width: 1200px) {
    ul.example-orbit.orbit-slides-container {
      height: 445px !important;
    }
}

.flashes {
  position: fixed;
  width: 100%;
  z-index: 1000;
}
