// Place all the styles related to the skills controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-skills {
	width: 45%;
	padding: 2%;
	float: left;
}

.user-interests {
	width: 45%;
	padding: 2%;
	float: left;
}

.user-arrangements {
	width: 45%;
	padding: 2%;
	float: left;
}

.user-bookmarks {
	width: 45%;
	padding: 2%;
	float: left;
}