// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

span.select2.select2-container.select2-container--default {
    width: 80% !important;
}

input.select2-search__field {
	width: 80% !important;
	background-color: #eff2f6 !important;
}

li.select2-selection__choice {
	background-color: $volunteerbutton-and-cardheader !important;
	color: white !important;
}

span.select2-selection__choice__remove {
	color: #ffcc99 !important;
}
span.select2-selection__choice__remove:hover {
	color: black !important;
}

@media screen and (min-width: 1000px) {
	span.select2.select2-container.select2-container--default {
	    width: 40% !important;
	}
}

.tabs dd > a, .tabs .tab-title > a {
	background-color: $navbarcolor;
	color: white;
}

.tabs dd > a, .tabs .tab-title > a:hover {
	background-color: $navbarhovercolor;
}

.tabs dd.active > a, .tabs .tab-title.active > a {
    background-color: white;
    color: $navbarhovercolor;
    font-weight: bold;
    box-shadow:inset 0px 0px 0px 2px;
}

