// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// This is the styling for the tabs on the user profile page.

.tabs dd > a, .tabs .tab-title > a {
	background-color: $navbarcolor;
	color: white;
}

.tabs dd > a, .tabs .tab-title > a:hover {
	background-color: $navbarhovercolor;
}

.tabs dd.active > a, .tabs .tab-title.active > a {
    background-color: white;
    color: $navbarhovercolor;
    font-weight: bold;
    box-shadow:inset 0px 0px 0px 2px;
}
// signup-login
#facebook-login{
  background-color: #3b5998;
  display: block;
  &:active {
    background-color: #8b9dc3;
  }
}
#google-login{
  background-color: #FF5722;
  display: block;
  &:active {
    background-color: #EF6C00;
  }
}
#github-login{
  background-color: black;
  display: block;
  &:active {
    background-color: #323232;
  }
} 
.login-top{
  width: 100%;
  max-width: 340px;
  margin: auto;
  padding: 20px;
  border: 2px solid #D3D3D3;
  border-radius: 4px;
  h1{
    font-size: 2.5rem;
  }

}
.login-form-wrapper{
  margin-top: 40px;
}
.social-button{
  display: block;
  font-size: 1.1rem;
  border-radius: 10px;
  padding: 7px 10px, 7px, 16px;
  text-align: left;
}
.login-or{
  margin: 30px 0px;
  background-color: #D3D3D3;
  width: 98%;
  height: 2px;
}
#submit-button{
  font-size: 1.3rem;
  border-radius: 8px;
  width: 100%;
  padding: 10px;
}
.social-logo{
  height:30px;
  margin-right: 20px;
}
#form-input-style{
  height: 3rem;
  border-radius: 4px;
}