// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// This is the styling for the tabs on the user profile page.

.tabs dd > a, .tabs .tab-title > a {
	background-color: $navbarcolor;
	color: white;
}

.tabs dd > a, .tabs .tab-title > a:hover {
	background-color: $navbarhovercolor;
}

.tabs dd.active > a, .tabs .tab-title.active > a {
    background-color: white;
    color: $navbarhovercolor;
    font-weight: bold;
    box-shadow:inset 0px 0px 0px 2px;
}

