<!-- <h1>Organizations#show</h1>
<p>Find me in app/views/organizations/show.html.erb</p>
 -->
 <div class="org-show">
   <p> Organization: <%= @organization.name %> </p>
   <p> Email: <%= @organization.email %> </p>
   <p> Website: <%= @organization.website_url %> </p>
   <p> Description: <%= @organization.description %> </p>
 </div>